{% extends 'base.html.twig' %}

{% block body %}
    <div>
        Rechercher un jeu :

        {{ form_start(form) }}
        <div class="flex-between">
            <div class="vcenter">
                {{ form_row(form.search) }}
                {{ form_row(form.category) }}
            </div>
            <button class="btn">Rechercher</button>
        </div>

        {{ form_end(form) }}
        Liste complète des jeux :
        <div>
            {% for game in games %}
                <div class="game_item">
                    <div> <a href="{{ url('user_show_profile', {id: game.game.owner.id}) }}" class="btn btn-tertiary">c</a></div>
                    <div>
                        <h4>{{ game.game.name }}</h4>
                    </div>
                    <div>
                        <h4 class="btn btn-quartiary">{{ game.game.category }}</h4>
                    </div>
                    <div>
                        <p>{{ game.downloads > 0 ? 'Téléchargé ' ~ game.downloads ~ ' fois' : 'Pas encore téléchargé' }}</p>
                    </div>

                    {% if app.user %}
                        <div>
                            <a href="{{ url('download_game', {id: game.game.id }) }}" class="btn btn-secondary">Télécharger le jeu</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}