{% extends 'base.html.twig' %}

{% block body %}
    <div>
        Rechercher un jeu :

        {{ form_start(form) }}
        <div class="flex-between">
            <div class="vcenter">
                {{ form_row(form.search) }}
                {{ form_row(form.categories) }}
            </div>
            <button class="btn">Rechercher</button>
        </div>

        {{ form_end(form) }}
        Liste complète des jeux :
        <div>
            {% for game in games %}
                <div class="game_item">
                    <div> <a href="{{ url('user_show_profile', {id: game.game.owner.id}) }}" class="btn btn-tertiary">{{ game.game.owner.firstname }} {{ game.game.owner.lastname }}</a></div>
                    <div>
                        <h4><a href="{{ url('details_game', {id: game.game.id }) }}">{{ game.game.name }}</a></h4>
                    </div>
                    <div>
                        {% for category in game.game.categories %}
                            <h4 class="btn btn-quartiary mr-1">{{ category }}</h4>
                        {% endfor %}
                    </div>
                    <div>
                        <p>{{ game.downloads > 0 ? 'Téléchargé ' ~ game.downloads ~ ' fois' : 'Pas encore téléchargé' }}</p>
                    </div>

                    {% if app.user %}
                        <div>
                            <a target="_blank" is="reloader-link" href="{{ url('download_game', {id: game.game.id }) }}" class="btn btn-secondary">Télécharger le jeu</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}