{% extends 'base.html.twig' %}

{% block body %}
    <div>
        Voici les 5 derniers jeux ajoutés sur la plateforme :

        <div>
            {% for game in games %}
                <div class="game_item">
                    <a href="{{ url('user_show_profile', {id: game.game.owner.id}) }}" class="btn btn-tertiary">{{ game.game.owner.firstname }} {{ game.game.owner.lastname }}</a>
                    <div>{{ game.game.name }}</div>

                    <div class="btn btn-quartiary">{{ game.game.category }}</div>
                    <div class="sub_info">ajouté le {{ game.game.createdAt|date('d/m/Y H:i') }}</div>
                    <div>{{ game.downloads > 0 ? 'Téléchargé ' ~ game.downloads ~ ' fois' : 'Pas encore téléchargé' }}</div>
                </div>
            {% endfor %}

            <a href="{{ url('list_game') }}" class="btn">Voir la liste complète</a>
        </div>
    </div>
{% endblock %}