{% extends 'base.html.twig' %}

{% block body %}
    <div>
        Voici les 5 derniers jeux ajoutés sur la plateforme :

        <div>
            {% for game in games %}
                <div class="game_item">
                    <div>
                        {% if app.user %}
                            <a href="{{ url('user_show_profile', {id: game.game.owner.id}) }}" class="btn btn-tertiary">{{ game.game.owner.firstname }} {{ game.game.owner.lastname }}</a>
                        {% else %}
                            <a class="btn btn-tertiary">{{ game.game.owner.firstname }} {{ game.game.owner.lastname }}</a>
                        {% endif %}
                    </div>

                    <div><a href="{{ url('details_game', {id: game.game.id }) }}">{{ game.game.name }}</a></div>

                    <div>
                        {% if game.game.categories|length > 0 %}
                            {% for category in game.game.categories %}
                                <div class="btn btn-quartiary mr-1">{{ category }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="sub_info">ajouté le {{ game.game.createdAt|date('d/m/Y H:i') }}</div>
                    <div>{{ game.downloads > 0 ? 'Téléchargé ' ~ game.downloads ~ ' fois' : 'Pas encore téléchargé' }}</div>
                </div>
            {% endfor %}

            <a href="{{ url('list_game') }}" class="btn">Voir la liste complète</a>
        </div>
    </div>
{% endblock %}