{% extends 'base.html.twig' %}

{% block body %}
    <p>Modifier votre compte</p>

    {{ form_start(userForm) }}

    {{ form_row(userForm.email) }}
    {{ form_row(userForm.lastname) }}
    {{ form_row(userForm.firstname) }}
    {{ form_row(userForm.plainPassword) }}

    <button class="btn" type="submit">Modifier mes information</button>
    {{ form_end(userForm) }}
{% endblock %}