{% extends 'base.html.twig' %}

{% block body %}
    <p>Modifier votre compte</p>

    {{ form_start(userForm) }}

    <div class="input_form">
        {{ form_label(userForm.email) }}
        {{ form_widget(userForm.email) }}
        {{ form_label(userForm.lastname) }}
        {{ form_widget(userForm.lastname) }}
        {{ form_label(userForm.firstname) }}
        {{ form_widget(userForm.firstname) }}
        {{ form_label(userForm.plainPassword) }}
        {{ form_widget(userForm.plainPassword) }}
        <button class="btn" type="submit">Modifier mes information</button>
    </div>
    {{ form_end(userForm) }}
{% endblock %}